
/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px){ 
      .banner-img img {
    max-width: 400px;
    width: 100%;
}
.banner-img-overly {
    right: 5.5%;
    max-width: 500px;
}
#home{
    padding-bottom: 55%;
} 
a.navbar-brand img {
    width: 100%;
    max-width: 90px;
}
/*.navbar-bg {
    padding: 0px 0px;
}*/
.navbar-brand {
    padding-top: 0rem; 
    padding-bottom: 0rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   .banner-img img {
    max-width: 300px;
    width: 100%;
}
.banner-img-overly {
    right: 4.5%;
    max-width: 450px;
}
header {
    padding-bottom: 60%;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
 .navbar-brand {
    padding-top: 0rem; 
    padding-bottom: 0rem;
    }  
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   
}