
/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px){ 
      .banner-img img {
    max-width: 400px;
    width: 100%;
}
.banner-img-overly {
    right: 5.5%;
    max-width: 500px;
}
#home{
    padding-bottom: 44%;
} 
a.navbar-brand img {
    width: 100%;
    max-width: 110px;
}
/*.navbar-bg {
    padding: 0px 0px;
}*/
.navbar-brand {
    padding-top: 0rem; 
    padding-bottom: 0rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   .banner-img img {
    max-width: 300px;
    width: 100%;
}
.banner-img-overly {
    right: 4.5%;
    max-width: 450px;
}
header {
    padding-bottom: 40%;
}
.cta-heading h5 {
    font-size: 32px;
}
ul.list-unstyled.list-one {
    width: 45%;
}
a.navbar-brand img {
    width: 100%;
    max-width: 100px;
}
.breadcum {
    max-width: 576px;
    padding: 15px 0px;
}
.banner-img {
    padding-bottom: 15px;
}
.banner-des h1 {
    padding-top: 10px;
    padding-bottom: 15px;
}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   .cta-button a {
        font-size: 14px;
    padding: 17px 16px;
}
.cta-heading h5 {
    font-size: 25px;
}
.banner-img-overly {
    right: 7.5%;
    bottom: 0;
    top: 10%;
    max-width: 300px;
        transform: translateY(0);
}
.banner-img img {
    max-width: 250px;
    width: 100%;
}
.banner-des h1 {
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
}
.custom-btn {
    padding: 16px 30px;
    line-height: 1.3;
    }
    .banner-img {
    padding-bottom: 15px;
}
li.nav-item {
    margin-right: 12px;
}
a.navbar-brand img {
    max-width: 110px;
}
section.about-section {
    padding: 80px 0px;
}
.breadcum ul li a {
    font-size: 15px;
}
}

@media (max-width: 991px){
    .navbar-bg {
    position: static;
        background: #f7e4ea59;
}
.price-card{
max-width: 350px;
margin:0px auto;
}
.breadcum {
    max-width: 50%;
    padding: 15px 0px;
}
.about-us-des.about-us-page {
    padding-bottom: 30px;
}
.contact-form-sidebar {
    margin-top: 50px;
}
}
/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
 .navbar-brand {
    padding-top: 0rem; 
    padding-bottom: 0rem;
    }  
    ul.list-unstyled.list-one {
    width: 30%;
}
.footer-useful-link {
    justify-content: inherit;

}
.cta-heading h5 {
    font-size: 25px;
}
.cta-button {
    text-align: center;
    margin-top: 10px;
}
.cta-section-wrap {
    padding: 50px 0px;
}
.banner-img {
    display: none;
}
.banner-img-overly {
    right: 7.5%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 40%;
}
.banner-des h1 {
    padding-top: 0px;
    padding-bottom: 15px;
    font-size: 15px;
    line-height: 1.5;
}
.custom-btn {
    font-size: 14px;
    padding: 14px 20px;
    letter-spacing: 1px;
    line-height: 1.3;
}
section.about-section {
    padding: 70px 0px;
}
.section-title h2 {
    font-size: 28px;
}
.section-title h1 {
    font-size: 28px;
}
.section-title span {
    font-size: 14px;
    }
    .section-title {
    text-align: center;
    padding-bottom: 15px;
}
.section-padding-top {
    padding-top: 70px;
}
section.testimonial-section {
    padding: 70px 0px;
}

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) and (max-width: 575.98px) { 
   #home {
   background-size: cover;
    padding-bottom: 55%;
    background-position-x: right;
}
.banner-img-overly {
    right: 6.5%;
    max-width: 50%;
}
.section-title h2 {
    font-size: 22px;
}
.section-title h1 {
    font-size: 22px;
}
.cta-heading h5 {
    font-size: 19px;
}
footer {
    padding-top: 60px;
}
ul.list-unstyled.list-one {
    width: 45%;
}
}