
/*font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;*/

/************** Default CSS **************/
:root {
  --body: #fff;
  --a: #5c656d;
  --p: #5c656d;
  --h: #202020;
  --dark: #1F1F20;
  --primary:#fb90b1;
}

body {
 font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: var(--body);
  padding:0;
  margin:0;
}

a,
.button,
button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:hover {
  text-decoration: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  text-decoration: none;
  outline: none;
}

button {
  cursor: pointer
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {

   font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--h);
  text-transform: capitalize;
  margin-top: 0px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  color: var(--p);
  margin-bottom: 15px;
      letter-spacing: 1px;
}

a {
  color: var(--a);
  font-size: 17px;
  font-weight: 400;
}

/************** Default CSS End **************/


/************** Template CSS **************/
/*header */
a.navbar-brand img {
    width: 100%;
    max-width: 125px;
}
header {
    background: url(../img/home_01.jpg);
    background-size: 100% 100%;
    padding-bottom: 48%;
    position: relative;
}
.navbar-bg {
    background: #f7e4ea8c;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 5px 0px;
    z-index: 999;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

li.nav-item {
    position: relative;
    text-align: center;
    margin-right: 18px;
}

li.nav-item:after {
    position: absolute;
    left: 0;
    width: 0%;
    background: #fb90b1;
    content: "";
    height: 3px;
    margin: 0 auto;
    display: block;
    transition: 0.4s;
}

li.nav-item:hover:after {
    width: 90%;
}

a.nav-link {
    font-weight: 600;
    padding-left: 0 !important;
}

li.nav-item:last-child {
    margin-right: 0;
}

a.nav-link:hover {
    color: #fb90b1;
}
.banner-img-overly {
    position: absolute;
    right: 8.5%;
    bottom: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 700px;
    text-align: right;
    z-index: 999;
}

.banner-img img {
    max-width: 699px;
    width: 100%;
}

.banner-img {
    padding-bottom: 30px;
}

header:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #0000000d;
    top: 0;
    left: 0;
}

a.custom-btn {
    display: inline-block;
    background: #fb90b1;
    color: #fff;
    font-weight: 700;
    border-radius: 27px;
    font-size: 15px;
    padding: 17px 48px;
    position: relative;
    letter-spacing: 1px;
    transition: all 400ms;
    text-transform: uppercase;
    line-height: 23px;
    border: 1px solid #fb90b1;
}

a.custom-btn:hover {
    background: transparent;
    border: 1px solid #fb90b1;
    color: #000;
}

.banner-des h1 {
  padding-top: 15px;
    padding-bottom: 40px;
    font-size:17px;
    font-weight: 600;
    line-height: 25px;
}
/*header css end*/

/*about section start */
section.about-section {
    padding: 100px 0px;
}
.section-title {
    text-align: center;
}

.section-title span {
    display: block;
    font-weight: 600;
    color: #fb90b1;
    font-size: 14px;
    text-transform: uppercase;
}

.section-title h2 {
    margin-top: 8px;
}

.section-title {
    position: relative;
}

/*.section-title:after {
    position: absolute;
    content: "";
    left: 50%;
    width: 200px;
    height: 100px;
    top: 0;
    transform: translateX(-50%);
    background: url(../img/eye.png);
}*/
.section-title:before {
    position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
   left: 0;
}
/*about section end*/
/************** Template CSS End **************/
